[submodule "borealis-vscode"]
	path = borealis-vscode
	url = git@github.com:eckertalex/borealis-vscode.git
[submodule "borealis-kitty"]
	path = borealis-kitty
	url = git@github.com:eckertalex/borealis-kitty.git
[submodule "borealis-iterm"]
	path = borealis-iterm
	url = git@github.com:eckertalex/borealis-iterm.git
[submodule "borealis-tmTheme"]
	path = borealis-tmTheme
	url = git@github.com:eckertalex/borealis-tmTheme.git
[submodule "borealis-duckduckgo"]
	path = borealis-duckduckgo
	url = git@github.com:eckertalex/borealis-duckduckgo.git
[submodule "borealis-firefox"]
	path = borealis-firefox
	url = https://github.com/eckertalex/borealis-firefox
